.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 150px;
}
@media screen and (max-width: 450px) {
    .App {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
}
